<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="24x24"  href="/imgs/favicon.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- font Awesome   -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet"/>
    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link th:href="@{/css/login_styles.css}" rel="stylesheet">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Đăng nhập</title>
    <style>
        .btn-reset:hover {
          background-color: #aeaeae !important;
        }

        .btn-save:hover {
          background-color: #7ac7e3 !important;
        }

        .login {
            background: url('/imgs/RLC.jpg') no-repeat 0 50%;
            background-size: cover;
        }

        .form-login {
            position: relative;
            width: 100%;
            padding-right: .75rem;
            padding-left: .75rem;
        }

<!--        input {-->
<!--          width: 48% !important;-->
<!--        }-->
    </style>
</head>
<body class="login">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row d-flex justify-content-center">
                        <div class="form-login">
                            <div class="p-5">
                                <div class="text-center mb-3">
                                    <img src="/imgs/logo_edumoodle.png" alt="logo web" style="height:100px;">
                                </div>
                                <div th:if="${param.error}">
                                    <div class="text-center text-danger mb-3">
                                        Đăng nhập thất bại! Vui lòng thử lại.
                                    </div>
                                </div>
                                <form class="user" th:action="@{/login}" th:object="${user}" method="post">
                                    <div class="form-group">
                                        <input th:field="*{username}" type="text" class="form-control form-control-user" id="username"  placeholder="Tên đăng nhập" required>
                                    </div>
                                    <div class="form-group">
                                        <input th:field="*{password}" type="password" class="form-control form-control-user" id="password" placeholder="Mật khẩu" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Đăng nhập</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>