<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${quiz.name}">Kết quả làm bài</title>
  <style>
    .btn-reset:hover {
      background-color: #aeaeae !important;
    }

    .btn-save:hover {
      background-color: #7ac7e3 !important;
    }

    input {
      width: 48% !important;
    }

    .list-courses-name {
        border-bottom: 2px solid #1f5ca9;
    }

    th {
        vertical-align: baseline;
    }
  </style>
</head>
<body>
<div class="container mt-3 mb-3" layout:fragment="body" >
  <div class="row">
    <div class="col d-sm-flex align-items-center justify-content-between">
      <h1 class="list-courses-name h3 mb-0 text-gray-800" th:text="${quiz.name}">Kết quả làm bài(số bài làm/số người đky)</h1>
    </div>
    <div class="col d-flex justify-content-end">
      <form method="get" th:action="@{/manage/courses/export}">
        <input type="hidden" name="courseId" th:value="${courseId}">
        <input type="hidden" name="quizId" th:value="${quizId}">
        <button type="submit" class="btn btn-cate btn-edit text-white" style="margin-left: 5px; background-color: #00afef;">
          <i class="bi bi-upload"></i> Tải danh sách điểm sinh viên
        </button>
      </form>
    </div>
  </div>

  <!--  có phân trang  -->
<!--  <div th:if="${coursePage != null}">-->
<!--    <table class="table table-striped table-hover mt-3">-->
<!--      <thead style="color: #0f6cbf;">-->
<!--      <tr>-->
<!--        <th style="width: 50%;">Họ và Tên</th>-->
<!--        <th style="width: 50%;">Email</th>-->
<!--        <th class="col d-flex justify-content-center">Sửa</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr th:each="user : ${coursePage.content}">-->
<!--        <td th:utext="${user.firstname} + ' ' + ${user.lastname}"-->
<!--            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">John</td>-->
<!--        <td th:utext="${user.email}"-->
<!--            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">john@example.com</td>-->
<!--        <td class="col d-flex justify-content-center">-->
<!--          <a th:href="@{/admin/users/edit-user(userid=${user.id})}">-->
<!--            <i class="bi bi-pencil-fill text-warning"></i>-->
<!--          </a>-->
<!--          <a href="" data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${user.id}">-->
<!--            <i class="bi bi-trash-fill text-danger"></i>-->
<!--          </a>-->
<!--        </td>-->
<!--        &lt;!&ndash; The Modal &ndash;&gt;-->
<!--        <div class="modal fade" th:id="'deleteModal' + ${user.id}">-->
<!--          <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--              &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--              <div class="modal-header">-->
<!--                <h4 class="modal-title">Thông báo</h4>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
<!--              </div>-->
<!--              &lt;!&ndash; Modal body &ndash;&gt;-->
<!--              <div class="modal-body">-->
<!--                <span th:text="'Bạn có chắc muốn xóa người dùng ' + ${user.firstname} + ' ' + ${user.lastname} + ' không?'"></span>-->
<!--              </div>-->
<!--              &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--              <div class="modal-footer">-->
<!--                <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>-->
<!--                <a th:href="@{/admin/users/delete(userid=${user.id})}" class="btn btn-danger">Xóa</a>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->

<!--    <nav aria-label="Page navigation" class="pagination pagination-centered justify-content-center mt-3">-->
<!--      <ul class="pagination">-->
<!--        <li class="page-item" th:if="${coursePage.hasPrevious()}">-->
<!--          <a class="page-link" th:href="@{/admin/users(page=${coursePage.number}, size=${coursePage.size})}" aria-label="Previous">-->
<!--            <span aria-hidden="true">&laquo;</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, coursePage.totalPages-1)}"-->
<!--            th:classappend="${pageNum == coursePage.number ? ' active' : ''}">-->
<!--          <a class="page-link" th:href="@{/admin/users(page=${pageNum+1}, size=${coursePage.size})}" th:text="${pageNum+1}"></a>-->
<!--        </li>-->
<!--        <li class="page-item" th:if="${coursePage.hasNext()}">-->
<!--          <a class="page-link" th:href="@{/admin/users(page=${coursePage.number + 2}, size=${coursePage.size})}" aria-label="Next">-->
<!--            <span aria-hidden="true">&raquo;</span>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->

  <!--  không phân trang  -->
  <div>
    <table class="table table-striped table-hover table-bordered mt-3">
      <thead style="color: #0f6cbf;">
      <tr>
        <th style="">Tên đầy đủ</th>
        <th style="">Email</th>
        <th style="">Trạng thái</th>
        <th style="" th:text="'Điểm/' + ${quiz.getFormattedGrade}">Điểm</th>
        <th style="">Tổng thời gian</th>
        <th style="">Thời gian bắt đầu</th>
        <th style="">Thời gian kết thúc</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="attempt : ${attempts}">
        <td th:text="${attempt.usersDTO.fullname}">Duong Hong Doan B2013527</td>
        <td th:text="${attempt.usersDTO.email}">doanb2013527@student.ctu.edu.vn</td>
        <td th:text="${attempt.state}">Hoàn thành</td>
        <td th:text="${attempt.getFormattedGrade}">10</td>
        <td th:text="${attempt.duration}">17 giây</td>
        <td th:text="${attempt.getTimestartAsLocalDateTime}">Ngày 5 tháng 11 năm 2024, 7:38 AM</td>
        <td th:text="${attempt.getTimefinishAsLocalDateTime}">Ngày 5 tháng 11 năm 2024, 7:39 AM</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>