<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Tạo khóa học</title>
    <style>
        .btn-reset:hover {
          background-color: #aeaeae !important;
        }

        .btn-save:hover {
          background-color: #7ac7e3 !important;
        }
    </style>
</head>
<body>
<div class="container mt-3 mb-3" layout:fragment="body" >
    <!-- phần thông báo chỉ xuất hiện khi tạo khóa học lỗi -->
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row">
        <div class="col d-sm-flex align-items-center justify-content-center">
            <h1 class="h3 mb-3 text-gray-800 text-uppercase">Tạo khóa học</h1>
        </div>
    </div>

    <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
        <div class="col-lg-7 align-self-lg-center">
            <form method="post" th:action="@{/admin/courses/create-course}" th:object="${coursesDTO}">
                <div class="row mb-3 justify-content-center">
                    <label class="col-sm-3 col-form-label" for="schoolYearName">Năm học:</label>
                    <div class="col-sm-1 d-flex align-items-center text-danger">*</div>
                    <div class="col-sm-8">
                        <select class="form-select" id="schoolYearName" name="schoolYearName" required>
                            <option value="">--Chọn Năm Học--</option>
                            <option th:each="year : ${schoolYears}"
                                    th:value="${year.id_school_year}"
                                    th:text="${year.schoolYearName}"></option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <label class="col-sm-3 col-form-label" for="semesterName">Học kì:</label>
                    <div class="col-sm-1 d-flex align-items-center text-danger">*</div>
                    <div class="col-sm-8">
                        <select class="form-select" id="semesterName" name="semesterName" required>
                            <option value="">--Chọn học kì--</option>
                            <option th:each="semester : ${semesters}"
                                    th:value="${semester.id_semester}"
                                    th:text="${semester.semesterName}"></option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <label class="col-sm-3 col-form-label" for="courseName">Tên khóa học đầy đủ:</label>
                    <div class="col-sm-1 d-flex align-items-center text-danger">*</div>
                    <div class="col-sm-8">
                        <input class="form-control" id="courseName" th:field="${coursesDTO.fullname}">
                        <p th:if="${#fields.hasErrors('fullname')}" th:errorclass="text-danger" th:errors="${coursesDTO.fullname}"></p>
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <label class="col-sm-3 col-form-label" for="courseShortName">Tên ngắn:</label>
                    <div class="col-sm-1 d-flex align-items-center text-danger">*</div>
                    <div class="col-sm-8">
                        <input class="form-control" id="courseShortName" th:field="${coursesDTO.shortname}" required>
                        <p th:if="${#fields.hasErrors('shortname')}" th:errorclass="text-danger" th:errors="${coursesDTO.shortname}"></p>
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <label class="col-sm-3 col-form-label" for="courseCode">Mã học phần:</label>
                    <div class="col-sm-1 d-flex align-items-center text-danger">*</div>
                    <div class="col-sm-8">
                        <input class="form-control" id="courseCode" name="courseCode">
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <label class="col-sm-3 col-form-label" for="groupName">Mã nhóm học phần:</label>
                    <div class="col-sm-1 d-flex align-items-center text-danger">*</div>
                    <div class="col-sm-8">
                        <input class="form-control" id="groupName" name="groupName" required>
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <label class="col-sm-3 col-form-label" for="category">Thuộc danh mục:</label>
                    <div class="col-sm-1 d-flex align-items-center text-danger">*</div>
                    <div class="col-sm-8">
                        <select th:field="${coursesDTO.categoryid}" class="form-select" id="category" required>
                            <option th:each="category : ${categoriesHierarchy}"
                                    th:value="${category.id}"
                                    th:utext="${category.name}"
                                    th:selected="${category.id == categoryId}">
                            </option>
                        </select>
                        <p th:if="${#fields.hasErrors('categoryid')}" th:errorclass="text-danger" th:errors="${coursesDTO.categoryid}"></p>
                    </div>
                </div>

                <div class="row mb-3 justify-content-center">
                    <label class="col-sm-3 col-form-label" for="courseDesc">Mô tả:</label>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8">
                        <input class="form-control" id="courseDesc" th:field="${coursesDTO.summary}" required>
                        <p th:if="${#fields.hasErrors('summary')}" th:errorclass="text-danger" th:errors="${coursesDTO.summary}"></p>
                    </div>
                </div>

                <div class="row mb-3 justify-content-end">
                    <div class="col-sm-2 d-grid">
                        <button class="btn btn-reset bg-secondary text-white">Đặt lại</button>
                    </div>

                    <div class="col-sm-2 d-grid">
                        <button type="submit" class="btn btn-save text-white" style="background-color: #00afef;">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>