<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Dashboard</title>

    <style>
        .btn-filter:hover {
            background-color: #7ad0ef !important;
        }

        .col-auto i {
            color: #dddfeb;
            font-size: 2.6rem;
        }

        .dashboard {
            border-bottom: 2px solid #0056b3;
        }

        .border-left-courses {
            border-left: .25rem solid #4e73df !important;
        }

        .border-left-exams {
            border-left: .25rem solid red !important;
        }

        .border-left-scores {
            border-left: .25rem solid #36b9cc !important;
        }

        .border-left-teachers {
            border-left: .25rem solid #1cc88a !important;
        }

        .border-left-students {
            border-left: .25rem solid #f6c23e !important;
        }
    </style>
</head>
<body>
<!-- Page content-->
<div class="container mt-3 mb-3" layout:fragment="body">
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 dashboard mb-0 text-gray-800">Dashboard</h1>
        </div>
    </div>
    <form method="get" th:action="@{/admin/filter}" class="d-flex align-items-center justify-content-center mb-3">
        <label for="namHoc" class="me-2">Năm học:</label>
        <select id="namHoc" name="id_school_year" class="form-select me-3" style="width: 150px;">
            <option th:each="schoolYear : ${schoolYears}"
                    th:value="${schoolYear.id_school_year}"
                    th:utext="${schoolYear.schoolYearName}"
                    th:selected="${schoolYear.id_school_year == currentSchoolYear}">
            </option>
        </select>

        <label for="hocKy" class="me-2">Học kỳ:</label>
        <select id="hocKy" name="id_semester" class="form-select me-3" style="width: 80px;">
            <option th:each="semester : ${semesters}"
                    th:value="${semester.id_semester}"
                    th:utext="${semester.semesterName}"
                    th:selected="${semester.id_semester == currentSemester}">
            </option>
        </select>

        <button type="submit" class="btn btn-filter text-white" style="background-color: #00afef">LỌC</button>
    </form>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-courses shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Số lượng khóa học</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${courseCnt}">1000</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-file-spreadsheet-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-teachers shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Số lượng Giảng viên</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${teacher}">870</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-person-chalkboard"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-students shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Số lượng Sinh viên</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${student}">5000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-user-graduate"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-exams shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Số lượng đề thi (đã làm/đã tạo)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">3000/5000</div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-book-half"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-scores shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Bài thi đạt điểm 8 trở lên
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">80%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar"
                                                 style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-emoji-heart-eyes"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2"></div>
            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header-->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Tổng quan điểm số chung</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>