<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title th:utext="'Course: ' + ${courseDetails.fullname}" layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">{Găn tên khóa học}</title>
  <style>
    .courses-name {
        border-bottom: 2px solid #1f5ca9;
    }

    .tab-content {
        background-color: #f8f9fa;
        padding: 1rem;
        border-radius: 0.25rem;
        border: 1px solid #dee2e6;
    }

    .topic-name {
        font-size: 1.5rem;
    }

    .module-list li{
        list-style: none;
        font-size: 1.2rem;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        padding: 12px;
        margin-bottom: 8px;
    }

    .module-list li a {
        text-decoration: none;
    }

    .activity-name-link:hover,
    .activity-add-text:hover{
        text-decoration: underline;
    }

    .btn-cate i {
        margin-right: 5px;
    }

    .btn-create:hover {
        background-color: #7ac7e3 !important;
    }
    .listStudent {
        list-style: none;
        font-size: 1.2rem;
    }

    .listStudent li {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e1e1e1;
    }

    .action-icons {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 11px;
        cursor: pointer;
        justify-content: end;
    }

    .gv-sv {
        border-bottom: 1px solid #dee2e6;
    }

    .btn-add-resource, .bi-pencil-fill, .bi-trash, .btn-add-topic, hr {
        display: none;
    }

<!--      bảng điểm số -->
      /* General table styling */
        #gradesTable {
            width: 100%;
            border-collapse: collapse;
        }
        #gradesTable th, #gradesTable td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        #gradesTable thead {
            background-color: #f2f2f2;
        }

        /* Course Name Row */
        .course-name-row {
            font-weight: bold;
            background-color: #e7f3ff;
        }

        /* Indent for Quiz/Test rows */
        .grade-item-row .item-name {
            padding-left: 20px;
        }

        /* Item type and name styling */
        .item-type {
            display: block;
            font-weight: bold;
        }

        /* Student name styling */
        .student-name {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 15px;
            color: #333;
        }
  </style>
</head>
<body>
<div class="container mt-3 mb-3" layout:fragment="body">
    <!-- phần thông báo chỉ xuất hiện khi nhấn nút xóa người dùng -->
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="row">
        <div class="col d-sm-flex align-items-center justify-content-between">
            <h1 th:utext="${courseDetails.fullname}" class="h3 courses-name mb-0 text-gray-800">Tên học phần (Mã HP) -  Tên nhóm - Tên GV - HK - Năm học</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
          <!-- Tab navigation -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher') or hasAuthority('student')" class="nav-item" role="presentation">
                    <button class="nav-link active" id="khoahoc-tab" data-bs-toggle="tab" data-bs-target="#khoahoc" type="button" role="tab" aria-controls="khoahoc" aria-selected="true">Khóa học</button>
                </li>
                <li sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher') or hasAuthority('student')" class="nav-item" role="presentation">
                    <button class="nav-link" id="thanhvien-tab" data-bs-toggle="tab" data-bs-target="#thanhvien" type="button" role="tab" aria-controls="thanhvien" aria-selected="false" tabindex="-1">Thành viên</button>
                </li>
                <li sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher')" class="nav-item" role="presentation">
                    <button class="nav-link" id="đkthanhvien-tab" data-bs-toggle="tab" data-bs-target="#đkthanhvien" type="button" role="tab" aria-controls="đkthanhvien" aria-selected="false" tabindex="-1">Đăng ký thành viên</button>
                </li>
                <li sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher')" class="nav-item" role="presentation">
                    <button class="nav-link" id="quizBank-tab" data-bs-toggle="tab" data-bs-target="#quizBank" type="button" role="tab" aria-controls="quizBank" aria-selected="false" tabindex="-1">Ngân hàng câu hỏi</button>
                </li>
                <li sec:authorize="hasAuthority('student')" class="nav-item" role="presentation">
                    <button class="nav-link" id="grade-tab" data-bs-toggle="tab" data-bs-target="#grades" type="button" role="tab" aria-controls="grades" aria-selected="false" tabindex="-1">Điểm số</button>
                </li>
            </ul>

          <!-- Tab content -->
            <div class="tab-content" id="myTabContent">
              <!-- Tab Khóa học -->
                <div class="tab-pane fade active show" id="khoahoc" role="tabpanel" aria-labelledby="khoahoc-tab">
                    <div class="accordion mt-3" id="accordionExample">
                        <div sec:authorize="hasAuthority('ADMIN')  or hasAuthority('editingteacher')" class="col mb-3 d-flex justify-content-end">
                            <button id="contentCourseEdit" class="btn btn-primary" style="margin-left: 5px;">
                                Chỉnh sửa <i class="bi bi-gear"></i>
                            </button>
                        </div>

                        <div th:each="section : ${sections}" class="accordion-item">
                            <h2 class="accordion-header" th:id="'heading'+${section.id}">
                                <button class="accordion-button collapsed topic-name topic-item" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${section.id}" aria-expanded="false" th:attr="aria-controls='collapse'+${section.id}" th:data-topicid="${section.id}" th:data-courseid="${courseDetails.id}">
                                    <span class="topicName" th:utext="${section.name}">Topic Name</span>
                                    <input type="text" class="edit-input" style="display: none;" />
                                    <a href="" th:onclick="editTopic(this); return false;" class="edit-topic">
                                        <i class="bi bi-pencil-fill text-warning" style="margin-left: 8px;"></i>
                                    </a>
                                    <a class="link-cate" href="" data-bs-toggle="modal" th:data-bs-target="'#deleteTopicModal' + ${section.id}">
                                        <i class="bi bi-trash text-danger" style="margin-left: 8px;"></i>
                                    </a>
                                </button>
                            </h2>
                            <!-- The Modal -->
                            <div class="modal fade" th:id="'deleteTopicModal' + ${section.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Thông báo</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <span th:text="'Bạn có chắc muốn xóa chủ đề: ' + ${section.name} + ' không?'"></span>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                            <a th:href="@{/admin/courses/view/delete-topic(sectionId=${section.id}, courseId=${courseDetails.id})}" class="btn btn-danger">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div th:id="'collapse' + ${section.id}" class="accordion-collapse collapse"
                                 th:attr="aria-labelledby='heading'+${section.id}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul class="module-list">
                                        <li th:each="module : ${section.modules}" class="activity-item"  th:data-activityid="${module.id}" th:data-typename="${module.modname}" th:data-courseid="${courseDetails.id}">
                                            <!-- Nếu là forum thì hiển thị trang thông báo -->
                                            <a sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher')" th:if="${module.modname == 'forum'}" th:href="@{/admin/courses/forum(courseId=${courseDetails.id}, forumId=${module.instance})}" style="margin-left: 12px;" class="activity-name-link">
                                                <i class="bi bi-card-text"></i>
                                                <span th:utext="${module.name}" class="activity-name">Module Name</span>
                                                <!--                                                (<span th:utext="${module.modname}">Module Type</span>)-->
                                                <input type="text" class="edit-activity-input" style="display: none;" />
                                            </a>

                                            <a  sec:authorize="hasAuthority('student')" th:if="${module.modname == 'forum'}" th:href="@{/student/courses/forum(courseId=${courseDetails.id}, forumId=${module.instance})}" style="margin-left: 12px;" class="activity-name-link">
                                                <i class="bi bi-card-text"></i>
                                                <span th:utext="${module.name}" class="activity-name">Module Name</span>
                                                <!--                                                (<span th:utext="${module.modname}">Module Type</span>)-->
                                                <input type="text" class="edit-activity-input" style="display: none;" />
                                            </a>

                                            <!--Nếu là resource thf ấy-->
                                            <a  sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher')"  th:if="${module.modname == 'resource'}" th:href="@{/admin/resource(courseId=${courseDetails.id}, resourceId=${module.id})}" style="margin-left: 12px;" class="activity-name-link">
                                                <i class="bi bi-card-text"></i>
                                                <span th:utext="${module.name}" class="activity-name">Module Name</span>
                                                <!--                                                (<span th:utext="${module.modname}">Module Type</span>)-->
                                                <input type="text" class="edit-activity-input" style="display: none;" />
                                            </a>

                                            <a  sec:authorize="hasAuthority('student')" th:if="${module.modname == 'resource'}" th:href="@{/user/resource(courseId=${courseDetails.id}, resourceId=${module.id})}" style="margin-left: 12px;" class="activity-name-link">
                                                <i class="bi bi-card-text"></i>
                                                <span th:utext="${module.name}" class="activity-name">Module Name</span>
                                                <!--                                                (<span th:utext="${module.modname}">Module Type</span>)-->
                                                <input type="text" class="edit-activity-input" style="display: none;" />
                                            </a>
                                            <!-- Nếu là quiz thì hiển thị trang quiz tương ứng -->
                                            <a sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher')" th:if="${module.modname == 'quiz'}" th:href="@{/manage/quiz/view(courseId=${courseDetails.id}, quizId=${module.instance})}" style="margin-left: 12px;" class="activity-name-link">
                                                <i class="bi bi-check2-square"></i>
                                                <span th:utext="${module.name}" class="activity-name">Module Name</span>
<!--                                                (<span th:utext="${module.modname}">Module Type</span>)-->
                                                <input type="text" class="edit-activity-input" style="display: none;" />
                                            </a>
                                            <a sec:authorize="hasAuthority('student')" th:if="${module.modname == 'quiz'}" th:href="@{/user/quizCourseStudent(quizId=${module.instance}, moodleCourseId=${courseDetails.id}, userId=${userId})}" style="margin-left: 12px;" class="activity-name-link">
                                                <i class="bi bi-check2-square"></i>
                                                <span th:utext="${module.name}" class="activity-name">Module Name</span>
<!--                                                (<span th:utext="${module.modname}">Module Type</span>)-->
                                                <input type="text" class="edit-activity-input" style="display: none;" />
                                            </a>
                                            <a sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher')" th:if="${module.modname == 'quiz'}" th:href="@{/manage/courses/report(courseId=${courseDetails.id}, quizId=${module.instance})}" title="Xem kết quả các bài kiểm tra">
                                                <i class="bi bi-eye-fill"></i>
                                            </a>
                                            <a href="" th:onclick="editActivity(this); return false;" class="edit-activity">
                                                <i class="bi bi-pencil-fill text-warning" style="margin-left: 8px;"></i>
                                            </a>
                                            <a class="link-cate" href="" data-bs-toggle="modal" th:data-bs-target="'#deleteActivityModal' + ${module.id}">
                                                <i class="bi bi-trash text-danger" style="margin-left: 8px;"></i>
                                            </a>

                                            <!-- The Modal -->
                                            <div class="modal fade" th:id="'deleteActivityModal' + ${module.id}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Thông báo</h4>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                        </div>
                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <span th:text="'Bạn có chắc muốn xóa hoạt động: ' + ${module.name} + ' này không?'"></span>
                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                                            <a th:href="@{/admin/courses/view/delete-activity(cmid=${module.id}, type=${module.modname}, courseId=${courseDetails.id})}" class="btn btn-danger">Xóa</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="btn-add-resource">
                                            <a href="" class="btn btn-link text-decoration-none" data-bs-toggle="modal" th:data-bs-target="'#addActivity' + ${section.id}">
                                                    <span class="pluscontainer icon-no-margin icon-size-3">
                                                        <i class="bi bi-plus-circle" style="font-size: 1.2rem;"></i>
                                                    </span>
                                                <span class="activity-add-text" id="yui_3_18_1_1_1728536782397_337">Thêm một hoạt động hoặc tài nguyên</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- Modal -->
                                    <div class="modal fade" th:id="'addActivity' + ${section.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Thêm một hoạt động hoặc tài nguyên</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <div data-region="carousel" class="carousel slide d-flex flex-fill">
                                                        <div class="carousel-inner d-flex flex-fill" aria-live="polite">
                                                            <div class="carousel-item p-3 active" data-region="modules">
                                                                <div class="row">
                                                                    <div class="col-sm-4 mb-3" th:each="model : ${moduleList}"  th:if="${model.name == 'quiz' or model.name == 'forum'}">
                                                                        <div class="btn d-flex justify-content-center" style="border: 1px solid #bebebe; padding: 20px; border-radius: 10px">
                                                                            <a th:href="@{/admin/courses/view/create-activity(sectionId=${section.section}, courseId=${courseDetails.id}, type=${model.name})}" th:utext="${model.name}" class="text-decoration-none">Trắc nghiệm</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="modal-footer hidden"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="color: #187bd2;">
                                    <button id="addTopic" th:data-courseid="${courseDetails.id}" class="btn text-primary btn-add-topic">
                                        <span class="pluscontainer icon-no-margin icon-size-3">
                                            <i class="bi bi-plus-lg" style="font-size: 1.2rem;"></i>
                                        </span>
                                        <span class="activity-add-text">Thêm chủ đề</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab Thành viên -->
                <div class="tab-pane fade" id="thanhvien" role="tabpanel" aria-labelledby="thanhvien-tab">
                    <!-- Giáo viên -->
                    <div class="row">
                        <div class="col-12 d-sm-flex align-items-center gv-sv">
                            <h4 class="fw-bold">Giáo viên</h4>
                        </div>
                        <div class="col align-items-center">
                            <ul th:each="user : ${enrolledUsers}" class="listStudent">
                                <li th:each="role : ${user.roles}" th:if="(${role.shortname == 'editingteacher'} or ${role.shortname == 'teacher'}) and ${user.username != 'admin'}">
                                    <div class="col"><span th:utext="${user.fullname}">Nguyễn Văn A 111111</span></div>
                                    <div class="col d-flex justify-content-center"><span th:utext="${user.email}">email@gmail.com</span></div>
                                    <div sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher')" class="col action-icons">
                                        <a href="" data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${user.id}">
                                            <i class="bi bi-trash-fill text-danger"></i>
                                        </a>
                                    </div>
                                </li>
                                <!-- The Modal -->
                                <div class="modal fade" th:id="'deleteModal' + ${user.id}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Thông báo</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <span th:text="'Bạn có chắc muốn hủy ghi danh người dùng ' + ${user.fullname} + ' ra khỏi khóa học không?'"></span>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                                <a th:href="@{/admin/courses/unenrol(userid=${user.id}, courseid=${course})}" class="btn btn-danger">Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <!-- Học viên -->
                    <div class="row">
                        <div class="col-12 d-sm-flex align-items-center gv-sv">
                            <h4 class="fw-bold mt-4">Sinh viên (<span th:text="${studentCount}" class="text-muted">(22)</span>)</h4>
                        </div>
                        <div class="col align-items-center">
                            <ul th:each="user : ${enrolledUsers}" class="listStudent">
                                <li th:each="role : ${user.roles}" th:if="${role.shortname == 'student'}">
                                    <div class="col"> <span th:text="${user.fullname}">Ds sinh viên</span></div>
                                    <div class="col d-flex justify-content-center"> <span th:utext="${user.email}">email@gmail.com</span></div>
                                    <div sec:authorize="hasAuthority('ADMIN') or hasAuthority('editingteacher')" class="col action-icons">
                                        <a href="" data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${user.id}">
                                            <i class="bi bi-trash-fill text-danger"></i>
                                        </a>
                                    </div>
                                </li>
                                <!-- The Modal -->
                                <div class="modal fade" th:id="'deleteModal' + ${user.id}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Thông báo</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <span th:text="'Bạn có chắc muốn hủy ghi danh người dùng ' + ${user.fullname} + ' ra khỏi khóa học không?'"></span>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                                <a th:href="@{/admin/courses/unenrol(userid=${user.id}, courseid=${course})}" class="btn btn-danger">Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Tab Đăng ký Thành viên -->
                <div class="tab-pane fade" id="đkthanhvien" role="tabpanel" aria-labelledby="đkthanhvien-tab">
                    <div class="row">
                        <h4 class="mb-3">Tùy chọn đăng ký</h4>
                    </div>
                    <div class="row">
                        <div class="col-xl-6">
                            <form id="enrolForm" th:action="@{/admin/courses/enrolUser}" method="post">
                                <input type="hidden" name="courseId" th:value="${course}" id="e-id"/>
                                <div class="mb-3">
                                    <label for="selectUsers" class="form-label">Chọn người dùng</label>
                                    <select multiple class="form-select" id="selectUsers" name="userIds" required>
                                        <option th:each="user : ${usersList}"
                                                th:value="${user.id}"
                                                th:utext="${user.firstname} + ' ' + ${user.lastname}"></option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="selectRole" class="form-label">Chọn vai trò</label>
                                    <select class="form-select" id="selectRole" name="roleId" required
                                            style="display: inline;width: 28%; margin-left: 38px;">
                                        <option value="5">Học viên</option>
                                        <option value="3">Giáo viên</option>
                                        <option value="4">Giáo viên trợ giảng</option>
                                    </select>
                                </div>
                                <div class="row mb-3 justify-content-start">
                                    <div class="col-sm-3 d-grid">
                                        <button type="submit" class="btn btn-save text-white" style="background-color: #00afef;">Đăng ký</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Tab ngân hàng câu hỏi -->
                <div class="tab-pane fade" id="quizBank" role="tabpanel" aria-labelledby="quizBank-tab">
                    <div class="row mb-3 justify-content-start">
                        <div class="col-sm-3 d-grid">
                            <a th:href="@{/teacher/courses/view/list_question(courseId=${courseDetails.id})}" type="submit" class="btn btn-save text-white" style="background-color: #00afef;">Thêm câu hỏi</a>
                        </div>
                    </div>
                </div>
                <!-- Tab Điểm số -->
                <div class="tab-pane fade" id="grades" role="tabpanel" aria-labelledby="grade-tab">
<!--                    <div class="row">-->
<!--                        <h4 class="mb-3">Điểm số</h4>-->
<!--                    </div>-->
<!--                    <div class="row">-->

<!--                    </div>-->
                    <div th:if="${grades != null}">
                        <table border="1" id="gradesTable">
                            <thead>
                            <tr>
                                <th>Grade Item</th>
                                <th>Calculated Weight</th>
                                <th>Grade</th>
                                <th>Percentage</th>
                                <th>Feedback</th>
                                <th>Contribution to Course Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Course Name Row with Toggle Button -->
                            <tr class="course-name-row">
                                <td th:text="${grades.courseName}" colspan="6">
                                    Course Name
                                    <button id="toggleButton" onclick="toggleItems()">Hide Items</button>
                                </td>
                            </tr>

                            <!-- Grade Items Rows with Indentation -->
                            <tr th:each="gradeItem : ${grades.gradeItems}" class="grade-item-row">
                                <td>
                                    <!-- Display "Quiz" or "Test" only if it’s not "Course total" -->
                                    <span th:if="${!gradeItem.itemName.contains('Course total')}"
                                          th:text="${#strings.startsWith(gradeItem.itemName, 'Quiz') ? 'Quiz' : 'Test'}"
                                          class="item-type"></span>
                                    <span th:text="${gradeItem.itemName.replace('Quiz', '').replace('Test', '').trim()}" class="item-name"></span>
                                </td>
                                <td th:text="${gradeItem.weight}"></td>
                                <td th:text="${gradeItem.grade}"></td>
                                <td th:text="${gradeItem.percentage}"></td>
                                <td th:text="${gradeItem.feedback}"></td>
                                <td th:text="${gradeItem.contributionToCourseTotal}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <p th:if="${grades == null || grades.gradeItems.isEmpty()}">Không có điểm nào cho sinh viên trong khóa học này.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>