<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Quản lý khóa học</title>

  <style>
    .btn-cate i {
        margin-right: 5px;
    }

    .link-cate {
        text-decoration: none;
        color: #fff;
        margin: 0 2px;
    }

    .btn-edit:hover {
        background-color: #e9ce7d !important;
    }

    .btn-create:hover {
        background-color: #7ac7e3 !important;
    }

    .list-courses-name {
        border-bottom: 2px solid #1f5ca9;
    }

    .card a,
    .card-body a {
        text-decoration: none;
        color: #000;
    }

    .card-text {
        color: #a1a1a1;
    }

    li .page-item {
        margin: 0 5px;
    }

    a.page-link {
        border: solid 1px #d7d7d7;
        border-radius: 5px;
        color: #7d7d7d;
        text-decoration: none;
        display: inline-block;
        height: 35px;
        width: 35px;
        padding: 0 !important;
        margin: 0 5px;
        line-height: 33px;
        text-align: center;
    }

    .pagination .page-item.active .page-link {
        background-color: #1f5ca9;
        border-color: #1f5ca9;
        color: white;
    }

    .action-buttons {
      display: none; /* Ẩn các nút sửa/xóa ban đầu */
      margin-left: 18px;
    }
  </style>
</head>
<body>
<div class="container mt-3 mb-3" layout:fragment="body">
    <!-- phần thông báo chỉ xuất hiện khi tạo/sửa/xóa khóa học thành công -->
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!--  search input and select category of courses-->
    <div class="row">
        <div class="col-xl-8">
            <form method="get" th:action="@{/admin/courses/category}" th:object="${categoryId}">
                <select name="categoryId" th:if="${coursesList != null}" class="form-select" id="coursesCategory" onchange="this.form.submit()">
                    <option th:each="category : ${categoriesHierarchy}"
                            th:value="${category.id}"
                            th:utext="${category.name}"
                            th:selected="${category.id == categoryId}"></option>
                </select>
                <select name="categoryId" th:if="${coursesOfParent != null}" class="form-select" id="coursesCategory2" onchange="this.form.submit()">
                    <option th:each="category : ${categoriesHierarchy}"
                            th:value="${category.id}"
                            th:utext="${category.name}"
                            th:selected="${category.id == categoryId}">
                    </option>
                </select>
            </form>
        </div>
        <div class="col-xl-4 d-flex justify-content-end">
            <form class="d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100 navbar-search" style="width: 25rem;"
                  th:action="@{/admin/courses/search}" method="get">
                <div class="input-group mb-3">
                    <input name= "keyword" type="text" class="form-control small" placeholder="Tìm kiếm khóa học..."
                           th:value="${keyword != null ? keyword : ''}" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" style="border-radius: 0 5px 5px 0;">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--  btn edit and create course-->
    <div class="row">
        <div class="col d-sm-flex align-items-center justify-content-between">
            <h1 class="list-courses-name h3 mb-0 text-gray-800">Danh sách các khóa học</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="link-cate" th:href="@{/admin/courses/create-course}">
                <button type="submit" class="btn btn-cate btn-create text-white" style="background-color: #00afef;">
                    <i class="bi bi-plus"></i>Tạo khóa học
                </button>
            </a>
            <button id="toggleEdit" class="btn btn-primary" style="margin-left: 5px;">
                <i class="bi bi-gear"></i>
            </button>
        </div>
    </div>
<!--  list courses -->
    <!--có phân trang-->
    <div th:if="${coursePage != null}">
        <div th:if="${coursesList != null}">
            <div class="row mt-3 mb-3">
                <!--coursePage.content đã bao gồm các khóa học để hiển thị theo size phân trang-->
                <div th:each="course : ${coursePage.content}" class="col-xl-3 mt-3 mb-3">
                    <div class="card" style="width: 18rem;height: 275px;">
                        <div class="card-img">
                            <a th:href="@{/admin/courses/view(courseId=${course.id})}">
                                <svg class="random-wave" viewBox="0 0 500 150" preserveAspectRatio="none">
                                    <path></path>
                                </svg>
                            </a>
                        </div>
                        <div class="card-body">
                            <a th:href="@{/admin/courses/view(courseId=${course.id})}">
                                <h5 th:utext="${course.fullname}" class="card-title">Tên học phần (Mã HP) -  Tên nhóm - Tên GV - HK - Năm học</h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <div class="col-sm-9">
                                    <p th:utext="${categoryMap[course.categoryid]}" class="card-text">Tên Khoa hoặc Bộ môn</p>
                                </div>
                                <div class="col-sm-3">
                                    <span class="action-buttons">
                                        <a class="link-cate" th:href="@{/admin/courses/edit-course(courseId=${course.id})}">
                                            <i class="bi bi-pencil-fill text-warning"></i>
                                        </a>
                                        <a class="link-cate" href="" data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${course.id}">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" th:id="'deleteModal' + ${course.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Thông báo</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <span th:text="'Bạn có chắc muốn xóa khóa học ' + ${course.fullname} + ' không?'"></span>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                            <a th:href="@{/admin/courses/delete(courseId=${course.id})}" class="btn btn-danger">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" class="pagination pagination-centered justify-content-center">
                <ul class="pagination">
                    <li class="page-item" th:if="${coursePage.hasPrevious()}">
                        <a class="page-link" th:href="@{/admin/courses(page=${coursePage.number}, size=${coursePage.size})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, coursePage.totalPages-1)}"
                        th:classappend="${pageNum == coursePage.number ? ' active' : ''}">
                        <a class="page-link" th:href="@{/admin/courses(page=${pageNum+1}, size=${coursePage.size})}" th:text="${pageNum+1}"></a>
                    </li>
                    <li class="page-item" th:if="${coursePage.hasNext()}">
                        <a class="page-link" th:href="@{/admin/courses(page=${coursePage.number + 2}, size=${coursePage.size})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div th:if="${coursesOfParent != null}">
            <div class="row mt-3 mb-3">
                <div th:each="course : ${coursePage.content}" class="col-xl-3 mt-3 mb-3">
                    <div class="card" style="width: 18rem;height: 275px;">
                        <div class="card-img">
                            <a th:href="@{/admin/courses/view(courseId=${course.id})}">
                                <svg class="random-wave" viewBox="0 0 500 150" preserveAspectRatio="none">
                                    <path></path>
                                </svg>
                            </a>
                        </div>
                        <div class="card-body">
                            <a th:href="@{/admin/courses/view(courseId=${course.id})}">
                                <h5 th:utext="${course.fullname}" class="card-title">Tên học phần (Mã HP) -  Tên nhóm - Tên GV - HK - Năm học</h5>
                            </a>
                            <div class="d-flex justify-content-between">
                                <div class="col-sm-9">
                                    <p th:utext="${categoryMap[course.categoryid]}" class="card-text">Tên Khoa hoặc Bộ môn</p>
                                </div>
                                <div class="col-sm-3">
                                    <span class="action-buttons">
                                        <a class="link-cate" th:href="@{/admin/courses/edit-course(courseId=${course.id})}">
                                            <i class="bi bi-pencil-fill text-warning"></i>
                                        </a>
                                        <a class="link-cate" href="" data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${course.id}">
                                            <i class="bi bi-trash text-danger"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" th:id="'deleteModal' + ${course.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Thông báo</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <span th:text="'Bạn có chắc muốn xóa khóa học ' + ${course.fullname} + ' không?'"></span>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                            <a th:href="@{/admin/courses/delete(courseId=${course.id})}" class="btn btn-danger">Xóa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation" class="pagination pagination-centered justify-content-center">
                <ul class="pagination">
                    <li class="page-item" th:if="${coursePage.hasPrevious()}">
                        <a class="page-link" th:href="@{/admin/courses/category(categoryId=${categoryId}, page=${coursePage.number}, size=${coursePage.size})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, coursePage.totalPages - 1)}"
                        th:classappend="${pageNum == coursePage.number ? ' active' : ''}">
                        <a class="page-link" th:href="@{/admin/courses/category(categoryId=${categoryId}, page=${pageNum+1}, size=${coursePage.size})}" th:text="${pageNum + 1}"></a>
                    </li>
                    <li class="page-item" th:if="${coursePage.hasNext()}">
                        <a class="page-link" th:href="@{/admin/courses/category(categoryId=${categoryId}, page=${coursePage.number + 2}, size=${coursePage.size})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!--không phân trang-->
    <div th:if="${coursePage == null}">
        <div th:if="${coursesList != null}" class="row mt-3 mb-3">
            <div th:each="course : ${coursesList}" class="col-xl-3 mt-3 mb-3">
                <div class="card" style="width: 18rem;height: 275px;">
                    <div class="card-img">
                        <a th:href="@{/admin/courses/view(courseId=${course.id})}">
                            <svg class="random-wave" viewBox="0 0 500 150" preserveAspectRatio="none">
                                <path></path>
                            </svg>
                        </a>
                    </div>
                    <div class="card-body">
                        <a th:href="@{/admin/courses/view(courseId=${course.id})}">
                            <h5 th:utext="${course.fullname}" class="card-title">Tên học phần (Mã HP) -  Tên nhóm - Tên GV - HK - Năm học</h5>
                        </a>
                        <div class="d-flex justify-content-between">
                            <div class="col-sm-9">
                                <p th:utext="${categoryMap[course.categoryid]}" class="card-text">Tên Khoa hoặc Bộ môn</p>
                            </div>
                            <div class="col-sm-3">
                                <span class="action-buttons">
                                    <a class="link-cate" th:href="@{/admin/courses/edit-course(courseId=${course.id})}">
                                        <i class="bi bi-pencil-fill text-warning"></i>
                                    </a>
                                    <a class="link-cate" href="" data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${course.id}">
                                            <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <!-- The Modal -->
                        <div class="modal fade" th:id="'deleteModal' + ${course.id}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thông báo</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <span th:text="'Bạn có chắc muốn xóa khóa học ' + ${course.fullname} + ' không?'"></span>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                        <a th:href="@{/admin/courses/delete(courseId=${course.id})}" class="btn btn-danger">Xóa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${coursesOfParent != null}" class="row mt-3 mb-3">
            <div th:each="course : ${coursesOfParent}" class="col-xl-3 mt-3 mb-3">
                <div class="card" style="width: 18rem;height: 275px;">
                    <div class="card-img">
                        <a th:href="@{/admin/courses/view(courseId=${course.id})}">
                            <svg class="random-wave" viewBox="0 0 500 150" preserveAspectRatio="none">
                                <path></path>
                            </svg>
                        </a>
                    </div>
                    <div class="card-body">
                        <a th:href="@{/admin/courses/view(courseId=${course.id})}">
                            <h5 th:utext="${course.fullname}" class="card-title">Tên học phần (Mã HP) -  Tên nhóm - Tên GV - HK - Năm học</h5>
                        </a>
                        <div class="d-flex justify-content-between">
                            <div class="col-sm-9">
                                <p th:utext="${categoryMap[course.categoryid]}" class="card-text">Tên Khoa hoặc Bộ môn</p>
                            </div>
                            <div class="col-sm-3">
                                <span class="action-buttons">
                                    <a class="link-cate" th:href="@{/admin/courses/edit-course(courseId=${course.id})}">
                                        <i class="bi bi-pencil-fill text-warning"></i>
                                    </a>
                                    <a class="link-cate" href="" data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${course.id}">
                                            <i class="bi bi-trash text-danger"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <!-- The Modal -->
                        <div class="modal fade" th:id="'deleteModal' + ${course.id}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thông báo</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <span th:text="'Bạn có chắc muốn xóa khóa học ' + ${course.fullname} + ' không?'"></span>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                        <a th:href="@{/admin/courses/delete(courseId=${course.id})}" class="btn btn-danger">Xóa</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var myModal = document.getElementById('myModal');
    myModal.addEventListener('show.bs.modal', function (event) {
        // Lấy đối tượng nút nhấn mở modal
        var button = event.relatedTarget;
        var userId = button.getAttribute('data-userid'); // Lấy userId từ thuộc tính data

        // Cập nhật href cho nút xóa
        var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
        confirmDeleteBtn.href = "/admin/users/delete-user?userid=" + userId;
    });
</script>
</body>
</html>