<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Quản lý danh mục</title>

  <style>
    .list-category {
        border-bottom: 2px solid #0056b3;
    }

    .accordion-header .accordion-button a,
    .accordion-body a{
        text-decoration: none;
        color: #555555;
        font-size: 1.23rem;
        line-height: 1;
    }

    .btn-cate i {
        margin-right: 5px;
    }

    .link-cate {
        text-decoration: none;
        color: #fff;
    }

    .btn-edit:hover {
        background-color: #e9ce7d !important;
    }

    .btn-create:hover {
        background-color: #7ac7e3 !important;
    }

    .categories li {
        list-style:none;
        border-bottom: 1px solid #e1e1e1;
    }

    .btn-load,
    .btn-load i{
        margin-left: 5px;
    }
  </style>
</head>
<body>
<div class="container mt-3 mb-3" layout:fragment="body">
<!--  search input-->
    <div class="d-flex justify-content-end">
        <form class="d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100 navbar-search" style="width: 25rem;"
              th:action="@{/admin/courses/search}" method="get">
            <div class="input-group mb-3">
                <input name= "keyword" type="text" class="form-control small" placeholder="Tìm kiếm khóa học..."
                       th:value="${keyword != null ? keyword : ''}" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" style="border-radius: 0 5px 5px 0;">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
<!--btns edit and create category-->
    <div class="row">
        <div class="col d-sm-flex align-items-center justify-content-between">
            <h1 class="h3 list-category mb-0 text-gray-800">Danh mục các khóa học</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="link-cate" th:href="@{/admin/category/edit-category}">
                <button type="submit" class="btn btn-cate btn-edit text-white bg-warning" style="margin-right: 5px;">
                <i class="bi bi-pencil-fill "></i>Sửa
                </button>
            </a>
            <a class="link-cate" th:href="@{/admin/category/create-category}">
                <button type="submit" class="btn btn-cate btn-create text-white" style="background-color: #00afef;">
                    <i class="bi bi-plus"></i>Tạo danh mục
                </button>
            </a>
        </div>
    </div>

    <!-- List parent categories -->
    <div class="accordion mt-2" id="courseAccordion2"  th:if="${categories != null}">
        <div th:each="parentCategory : ${categories.get(0)}" class="accordion-item">
            <h2 class="accordion-header" th:attr="id='heading' + ${parentCategory.id}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            th:data-bs-target="'#collapse' + ${parentCategory.id}" aria-expanded="false" th:attr="aria-controls='collapse' + ${parentCategory.id}">
                        <a th:href="@{/admin/courses/category(categoryId=${parentCategory.id})}">
                            <span th:utext="${parentCategory.name}"></span>
                            <span th:text="('(' + ${totalCoursesByParent[parentCategory.id]} + ')')"></span>
                        </a>
                </button>
            </h2>
            <ul th:id="'collapse' + ${parentCategory.id}" th:attr="aria-labelledby='heading' + ${parentCategory.id}" class="accordion-collapse collapse categories" data-bs-parent="#courseAccordion">
                <!-- List child categories -->
                <li class="accordion-body" th:each="childCategory : ${categories.get(parentCategory.id)}">
                    <a th:href="@{/admin/courses/category(categoryId=${childCategory.id})}">
                        <span th:utext="${childCategory.name}"></span>
                        <span th:text="('(' + ${childCategory.coursecount} + ')')"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div th:if="${categories == null}">
        <p>No categories found.</p>
    </div>

<!--  btns to upload files-->
    <div class="row">
        <div class="d-flex justify-content-end">
            <div class="row mt-2">
                <div class="d-flex justify-content-end">
                    <form>
                        <label class="btn btn-primary btn-load" for="uploadFileList">Tải danh sách học phần<i class="bi bi-upload"></i></label>
                        <input type="file" id="uploadFileList" class="d-none">
                    </form>
                    <form>
                        <label class="btn btn-primary btn-load" for="uploadFileTKB">Tải TKB giảng viên<i class="bi bi-upload"></i></label>
                        <input type="file" id="uploadFileTKB" class="d-none">
                    </form>
                    <form>
                        <label class="btn btn-primary btn-load" for="uploadFileSV">Tải danh sách sinh viên<i class="bi bi-upload"></i></label>
                        <input type="file" id="uploadFileSV" class="d-none">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>