<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Quản lý người dùng</title>

  <style>
    .list-users {
        border-bottom: 2px solid #1f5ca9;
    }
    .btn-cate i {
        margin-right: 5px;
    }

    .link-cate {
        text-decoration: none;
        color: #fff;
    }

    .btn-edit:hover {
        background-color: #7ac7e3 !important;
    }

    .btn-create:hover {
        background-color: #7ac7e3 !important;
    }

    td i {
        font-size: 1.23rem;
        margin-right: 8px;
    }

    td i:hover {
        cursor: pointer;
    }

    li .page-item {
        margin: 0 5px;
    }

    a.page-link {
        border: solid 1px #d7d7d7;
        border-radius: 5px;
        color: #7d7d7d;
        text-decoration: none;
        display: inline-block;
        height: 35px;
        width: 35px;
        padding: 0 !important;
        margin: 0 5px;
        line-height: 33px;
        text-align: center;
    }

    .pagination .page-item.active .page-link {
        background-color: #1f5ca9;
        border-color: #1f5ca9;
        color: white;
    }
  </style>
</head>
<body>
<div class="container mt-3 mb-3" layout:fragment="body">
    <!-- phần thông báo chỉ xuất hiện khi nhấn nút xóa người dùng -->
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!--  search input-->
    <div class="d-flex justify-content-end">
        <form class="d-none d-sm-inline-block form-inline my-2 my-md-0 mw-100 navbar-search" style="width: 25rem;"
              th:action="@{/admin/users/search}" method="get">
            <div class="input-group mt-2 mb-3">
                <input name="keyword" type="text" class="form-control small" placeholder="Tìm kiếm người dùng..."
                       th:value="${keyword != null ? keyword : ''}" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" style="border-radius: 0 5px 5px 0;">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--  btn them người dùng và nút upload file danh sách người dùng-->
    <div class="row">
        <div class="col d-sm-flex align-items-center justify-content-between">
            <h1 class="list-users h3 mb-0 text-gray-800">
                Danh sách thành viên (<span th:text="${userCount}" class="text-muted" style="font-size: 1.4rem"></span>)
            </h1>
        </div>
        <div class="col d-flex justify-content-end">
            <!--nữa đổi lại /admin/add-user-->
            <a class="link-cate" th:href="@{/admin/users/add-user}">
                <button type="submit" class="btn btn-cate btn-create text-white" style="background-color: #00afef;">
                    <i class="bi bi-plus"></i>Thêm người dùng
                </button>
            </a>
            <a class="link-cate" th:href="@{/admin/users/upload-users}">
                <button type="submit" class="btn btn-cate btn-edit text-white" style="margin-left: 5px; background-color: #00afef;">
                    <i class="bi bi-upload"></i>Tải danh sách người dùng
                </button>
            </a>
        </div>
    </div>

    <!--  users list table-->
    <!--  có phân trang  -->
    <div th:if="${coursePage != null}">
        <table class="table table-striped table-hover mt-3">
            <thead style="color: #0f6cbf;">
                  <tr>
                      <th style="width: 50%;">Họ và Tên</th>
                      <th style="width: 50%;">Email</th>
                      <th class="col d-flex justify-content-center">Sửa</th>
                  </tr>
            </thead>
            <tbody>
                  <tr th:each="user : ${coursePage.content}">
                      <td th:utext="${user.firstname} + ' ' + ${user.lastname}"
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">John</td>
                      <td th:utext="${user.email}"
                          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">john@example.com</td>
                      <td class="col d-flex justify-content-center">
                          <a th:href="@{/admin/users/edit-user(userid=${user.id})}">
                              <i class="bi bi-pencil-fill text-warning"></i>
                          </a>
                          <a href="" data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${user.id}">
                              <i class="bi bi-trash-fill text-danger"></i>
                          </a>
                      </td>
                      <!-- The Modal -->
                      <div class="modal fade" th:id="'deleteModal' + ${user.id}">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <!-- Modal Header -->
                                  <div class="modal-header">
                                      <h4 class="modal-title">Thông báo</h4>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                  </div>
                                  <!-- Modal body -->
                                  <div class="modal-body">
                                      <span th:text="'Bạn có chắc muốn xóa người dùng ' + ${user.firstname} + ' ' + ${user.lastname} + ' không?'"></span>
                                  </div>
                                  <!-- Modal footer -->
                                  <div class="modal-footer">
                                      <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                      <a th:href="@{/admin/users/delete(userid=${user.id})}" class="btn btn-danger">Xóa</a>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation" class="pagination pagination-centered justify-content-center mt-3">
            <ul class="pagination">
                <li class="page-item" th:if="${coursePage.hasPrevious()}">
                    <a class="page-link" th:href="@{/admin/users(page=${coursePage.number}, size=${coursePage.size})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, coursePage.totalPages-1)}"
                    th:classappend="${pageNum == coursePage.number ? ' active' : ''}">
                    <a class="page-link" th:href="@{/admin/users(page=${pageNum+1}, size=${coursePage.size})}" th:text="${pageNum+1}"></a>
                </li>
                <li class="page-item" th:if="${coursePage.hasNext()}">
                    <a class="page-link" th:href="@{/admin/users(page=${coursePage.number + 2}, size=${coursePage.size})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!--  không phân trang  -->
    <div th:if="${coursePage == null}">
        <table class="table table-striped table-hover mt-3">
            <thead style="color: #0f6cbf;">
            <tr>
                <th style="width: 50%;">Họ và Tên</th>
                <th style="width: 50%;">Email</th>
                <th class="col d-flex justify-content-center">Sửa</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${usersList}">
                    <td th:utext="${user.firstname} + ' ' + ${user.lastname}"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">John</td>
                    <td th:utext="${user.email}"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">john@example.com</td>
                    <td class="col d-flex justify-content-center">
                        <a th:href="@{/admin/users/edit-user(userid=${user.id})}">
                            <i class="bi bi-pencil-fill text-warning"></i>
                        </a>
                        <a href="" data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${user.id}">
                            <i class="bi bi-trash-fill text-danger"></i>
                        </a>
                    </td>
                    <!-- The Modal -->
                    <div class="modal fade" th:id="'deleteModal' + ${user.id}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thông báo</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <span th:text="'Bạn có chắc muốn xóa người dùng ' + ${user.firstname} + ' ' + ${user.lastname} + ' không?'"></span>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn text-bg-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                                    <a th:href="@{/admin/users/delete(userid=${user.id})}" class="btn btn-danger">Xóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var myModal = document.getElementById('myModal');
    myModal.addEventListener('show.bs.modal', function (event) {
        // Lấy đối tượng nút nhấn mở modal
        var button = event.relatedTarget;
        var userId = button.getAttribute('data-userid'); // Lấy userId từ thuộc tính data

        // Cập nhật href cho nút xóa
        var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
        confirmDeleteBtn.href = "/admin/users/delete-user?userid=" + userId;
    });
</script>
</body>
</html>